@use '@/styles/variables.scss' as *;

.container {
  width: 100%;
  height: 50px;
  padding-right: 20px;
  padding-top: 10px;
  background-color: $grey_100;

  .burgerWrapper {
    width: 100%;
    height: 40px;
    cursor: pointer;
    position: relative;
    z-index: 1251;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -webkit-tap-highlight-color: transparent;

    .burger {
      width: 40px;
      top: 14px;
      left: 5px;
      border-bottom: 4px solid $black-100;
      position: relative;
      bottom: 10px;
      z-index: 1250;
      transition: transform 0.7s;

      &::before {
        content: '';
        position: absolute;
        bottom: 10px;
        width: 40px;
        border-bottom: 4px solid $black-100;
        transition: transform 0.7s;
      }

      &::after {
        content: '';
        width: 40px;
        position: absolute;
        top: 14px;
        border-bottom: 4px solid $black-100;
        transition: transform 0.7s;
      }
    }

    .activeBurger {
      transform: translateX(10px);
      animation-duration: 0.3s;
      animation-name: active;
      border-bottom: 4px solid $black-100;

      @keyframes active {
        from {
          border-bottom: 4px solid $black-100;
        }
        to {
          border-bottom: 4px solid $black-100;
        }
      }
    }

    .closedBurger {
      animation-duration: 0.7s;
      animation-name: close;
      @keyframes close {
        from {
          border-bottom: 4px solid $grey_100;
        }
        to {
          border-bottom: 4px solid $black-100;
        }
      }
    }

    .activeBurger::before {
      position: fixed;
      transform: rotate(45deg) translateY(20px);
    }

    .activeBurger::after {
      position: fixed;
      transform: rotate(-45deg) translateY(-20px);
    }
  }

  .activeBurgerWrapper {
    width: 32px;
  }
}

.burgerModalWrapper {
  width: 100%;
  height: 100%;
  max-width: 100vw;
  margin: 0;
  max-height: 100vh;
  border-radius: 0px;
  position: absolute;
  background-color: $grey_100 !important;
  right: 0;
  color: $white;

  a {
    text-decoration: none;
  }

  .content {
    height: 100%;
    max-height: 100vh;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    align-items: flex-end;
    overflow-y: scroll;

    &::-webkit-scrollbar {
      width: 9px;
    }

    &::-webkit-scrollbar-track {
      background: $bgButton;
    }

    &::-webkit-scrollbar-thumb {
      background: $bgButton;
      width: 8px;
      border-radius: 100px;
    }

    &::-webkit-scrollbar-corner {
      background: transparent; /* Убираем фон в углу */
    }

    .clientInfo {
      width: 100%;
      display: flex;
      flex-direction: row;
      column-gap: 20px;
      position: relative;
      top: 10px;
      left: 30px;

      .clientName {
        font-size: 20px;
      }
    }

    .logoWrapper {
      width: 100%;
      display: flex;
      flex-direction: row;
      column-gap: 20px;
      position: absolute;
      top: 30px;
      left: 40px;

      .logo {
        width: 100%;
        max-width: 60px;
        height: 60px;
        border-radius: 100px;
        // background: $black-100;
      }
    }

    .linksWrapper {
      width: 100%;
      display: flex;
      align-items: center;
      flex-direction: column;
      list-style-type: none;
      row-gap: 18px;
      padding-top: 30px;
    }
  }
}

.link {
  width: 80%;
  text-align: center;
  border-radius: 4px;

  .linkText {
    color: $white;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    margin-bottom: 0;
    width: 100%;
  }
}

.activeLink {
  background-color: $bgButton;

  .linkText {
  }
}
