@use '@/styles/variables' as *;

.container {
  padding: 10px 0;
  background: linear-gradient(to top, $grey_40, 80%, $grey_100);
}

.headWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  height: 444px;
  min-height: 360px;
  background: 0 0 / cover no-repeat;
  margin-bottom: 45px;
}

.title {
  line-height: 46px;
  font-weight: 900px;
  padding: 10px;
  width: 100%;
  max-width: 1200px;
  margin-left: 40px;

  :global(.ant-typography) {
    font-size: 68px;
    color: $text;

    //  mobile
    @media (max-width: 425px) {
      font-size: 48px;
      color: $white;
    }
  }

  @media (min-width: 425px) {
    margin-bottom: 0;
    font-size: 24px;
    line-height: 28px;
  }
}
