.container {
  width: 100%;
  min-height: 695;
  padding: 0 60px;
  text-align: center;
  text-overflow: ellipsis;
  line-height: 1.55;
}

.titleWrappre {
  width: 100%;
  font-size: 30px;
  line-height: 1.55 !important;

  :global(.ant-typography) {
    font-size: 30px !important;
    line-height: 1.55 !important;
  }
}

.textWrapper {
  font-size: 20px;
  padding-bottom: 10px;
  text-align: start;
  line-height: 1.55;

  p {
    padding: 20px 0;
  }

  :global(.ant-typography) {
    font-size: 20px !important;
    line-height: 1.55 !important;
  }
  ul {
    display: flex;
    flex-direction: column;
    list-style: circle;
    gap: 15px;
  }
}
.text {
  text-align: start;
}
