@use '@/styles/variables' as *;

.container {
  text-align: center;
  margin: 30px 0;
}

.title {
  :global(.ant-typography) {
    font-size: 38px !important;
    line-height: 1.3333333333333333;
  }
}

.advantageWrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
  flex: 1 1 250px;
}

.advantageBlock {
  height: 500px;
  border-right: 1px solid $grey-60;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  max-width: 300px;

  .advantageImage {
    margin: 75px;
    margin-bottom: 30;

    //  mobile
    @media (max-width: 425px) {
      margin: 5px;
    }
  }

  .advantageTitle {
    height: 100px;
    font-size: 22px;
    line-height: 1.35;
    text-transform: uppercase;

    //  mobile
    @media (max-width: 425px) {
      font-size: 18px;
      height: 30px;
    }
  }

  .advantageText {
    padding: 0 10px;
    font-size: 16px;
    line-height: 1.55;
    font-family: Georgia, 'Times New Roman', Times, serif;

    //  mobile
    @media (max-width: 425px) {
      text-align: left;
      padding-top: 10px;
    }
  }

  //  mobile
  @media (max-width: 425px) {
    height: 350px;
  }
}
