.portfolioWrapper {
  width: 100%;
  max-width: 1500px;
}

.cardList {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.card {
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: row;
  padding: 10px;

  //  mobile
  @media (max-width: 425px) {
    flex-direction: column;
    align-items: center;
  }

  .cardImage {
    max-width: 300px;
    border-radius: 5px;
  }

  .cardText {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
    margin-left: 20px;
    gap: 10px;

    .cardTitle {
      width: 100%;
      font-size: 20px;
      font-weight: 600;
      text-align: center;

      @media (max-width: 425px) {
        padding: 10px 0;
      }
    }

    .cardOrderer {
      font-size: 18px;
      font-weight: 500;
    }

    .cardDescription {
      text-align: left;
    }
  }
}
