.container {
  width: 100%;
}

.floorWrapper {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 0 10px;
  padding-top: 60px;
}

.floorTitle {
  font-size: 42px;
  line-height: 1.23;
  margin-bottom: 40px;
}

.floorText {
  font-size: 20px;
  line-height: 1.55;
}
