.btnWrapper {
  position: fixed;
  z-index: 1000;
  bottom: 20px;
  right: 20px;
}

.link {
  padding: 10px;
  :hover {
    transform: scale(1.1);
    transition: 0.3s;
  }
}

.bntTG {
  background: transparent;
  width: 80px;
  border: none;
  padding: 0;
  transition: 0.3s;

  &:hover {
    background: transparent !important;
    border-color: transparent !important;
    transform: scale(1.2);
  }

  &:focus {
    background: transparent !important;
    border-color: transparent !important;
  }

  &:active {
    background: transparent !important;
    border-color: transparent !important;
  }
}

.bntImage {
  width: 100%;
}
.modalWrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
