$black_100: #1c1f25;
$bgNav: #111111;
$bgNavGrey: #4c4c4c;

$bgButton: #c0fd02;

$text: #274eaa;
$text_footer: #6b8588;

$white: #ffffff;

$grey_30: #f5f8f6;
$grey_40: #f2f2f2;
$grey_50: #f3f3f3;
$grey-60: #ededed;
$grey_80: #abb1ae;
$grey_100: #a1a1a1;
$grey_200: #5f6561;
$grey_250: #666666;
$grey_300: #8d8d8d;
