$black_100: #1c1f25;
$bgNav: #111111;
$bgNavGrey: #4c4c4c;

$bgButton: #c0fd02;

$text: #004ea3;

$white: #ffffff;

$grey_50: #f3f3f3;
$grey_30: #f5f8f6;
$grey_80: #abb1ae;
$grey_100: #a1a1a1;
$grey_200: #5f6561;
$grey_250: #666666;
$grey_300: #8d8d8d;
