@use '@/styles/variables' as *;

.container {
  width: 100wh;
  background: linear-gradient(to top, $grey_40, 80%, $grey_100);
  text-align: center;
  margin: 5px;
  padding: 30px 0;
}

// .title {
//   padding: 10px;
//   margin-left: 40px;
//   margin: auto;

//   :global(.ant-typography) {
//     width: 100%;
//     max-width: 700px;
//     text-align: center;
//     font-size: 68px;
//     color: $white;

//     //  mobile
//     @media (max-width: 425px) {
//       font-size: 48px;
//     }
//   }
// }
