@use '@/styles/variables.scss' as *;

.container {
  width: 100%;
  min-height: 380px;
  background: $grey_60;
  padding-bottom: 20px;
}

.ourSuccesWrapper {
  width: 100%;
  // max-width: 940px;
  margin: 0 40px;
  margin-top: 60px;

  // @media(){
  //   max-width: 940px;
  // }
}

.titleWrapper {
  :global(.ant-typography) {
    line-height: 46px;
    font-weight: 900px !important;
    font-size: 68px;
    color: $white;

    @media (max-width: 640px) {
      max-width: 240px;
      margin-bottom: 0;
      font-size: 24px;
      line-height: 50px;
    }

    //  mobile
    @media (max-width: 425px) {
      font-size: 48px;
    }
  }
  .title {
    padding-bottom: 15px;
    font-size: 38px;
    line-height: 1.23;
    text-align: left;
  }

  .text {
    padding-bottom: 20px;
    font-size: 22px;
    max-width: 560px;

    //  mobile
    @media (max-width: 425px) {
      max-width: 350px;
    }
  }
}

.blockWrapper {
  width: 100%;
  max-width: 1500px;
  display: flex;
  gap: 20px;
  align-items: center;
  flex-wrap: wrap;
  flex: 1 1 280px;

  //  mobile
  @media (max-width: 425px) {
    gap: 0px;
  }
  //   tablet
  // @media(min-width:425px){}
  // decktop
  // @media(min-width:1024px){}
}

.block {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  width: 100%;
  max-width: 340px;
  height: 200px;
  padding: 10px;

  .blockTitle {
    font-size: 30px;
    padding-top: 8px;
    padding-bottom: 6px;
    margin-right: 20px;
    font-weight: 700;
    text-decoration: underline;
  }

  .blockText {
    width: 100%;
    max-width: 300px;
    padding-top: 4px;
    padding-bottom: 6px;
    margin-right: 20px;
    font-size: 16px;
    line-height: 1.55;
    font-weight: 300;
    text-wrap: wrap;
  }

  //  mobile
  @media (max-width: 425px) {
    height: 150px;
    padding: 10px;
  }
}
