@use '@/styles/variables' as *;

.companyWrapper {
  width: 100%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: flex-start;
  gap: 10px;
  padding-left: 10px;
}

.text {
  color: $text_footer;
}
