@use '@/styles/variables' as *;

.container {
  padding: 10px 0;
  background: linear-gradient(to top, $grey_40, 80%, $grey_100);
}

.headWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 600px;
  background: 0 0 / cover no-repeat;
  margin-bottom: 45px;
}

.title {
  line-height: 46px;
  font-weight: 900px;
  padding: 10px;
  margin-left: 40px;
  margin: auto;

  :global(.ant-typography) {
    width: 100%;
    max-width: 700px;
    text-align: center;
    font-size: 68px;
    color: $white;
  }

  @media (max-width: 640px) {
    max-width: 240px;
    margin-bottom: 0;
    font-size: 24px;
    line-height: 28px;
  }
}
