@use '@/styles/variables' as *;

.container {
  padding: 10px 0;
  background: linear-gradient(to top, $grey_40, 80%, $grey_100);
}

.headWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 600px;
  background: 0 0 / cover no-repeat;
  margin-bottom: 45px;

  //  mobile
  @media (max-width: 425px) {
    margin-bottom: 10px;
  }
}

.title {
  padding: 10px;
  margin-left: 40px;
  margin: auto;

  :global(.ant-typography) {
    width: 100%;
    max-width: 700px;
    text-align: center;
    font-size: 68px;
    color: $white;

    //  mobile
    @media (max-width: 425px) {
      font-size: 48px;
    }
  }

  @media (max-width: 640px) {
    max-width: 240px;
    margin-bottom: 0;
    font-size: 24px;
    line-height: 28px;
    margin: 0;
  }

  @media (max-width: 425px) {
    max-width: 400px;
  }
}
