@use '@/styles/variables' as *;

.menu {
  height: 50px;
  text-align: center;
  background-color: $grey_100;
  width: 100%;
  font-size: 18px;
  justify-content: center;

  :global(.ant-menu-item) {
    display: flex !important;
    align-items: center;
    justify-content: center !important;
    text-align: center;
    width: auto;
    transition: transform 0.3s ease;

    :hover {
      transform: scale(1.2);
    }
  }

  :global(.ant-menu-item-active) {
    &::after {
      display: none;
    }
  }

  :global(.ant-menu-item-selected) {
    &::after {
      display: none;
    }
  }

  :global(.ant-menu-item-selected) {
    a {
      font-size: 22px !important;
    }
  }
}
