@use '@/styles/variables' as *;

.container {
  padding: 10px 0;

  background: linear-gradient(to top, $grey-60, 20%, rgb(179, 245, 245));
}

.titleWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  height: 444px;
  min-height: 360px;
  background: 0 0 / cover no-repeat;
  margin-bottom: 45px;
}

.title {
  line-height: 46px;
  font-weight: 900px;
  padding: 10px;

  :global(.ant-typography) {
    line-height: 46px;
    font-weight: 900px !important;
    font-size: 68px;
    color: $text;
  }

  @media (max-width: 640px) {
    max-width: 240px;
    margin-bottom: 0;
    font-size: 24px;
    line-height: 28px;
  }
}
